.slider {
    position: relative;
    width: 100%;

    .hidden {
        display: none;
    }

    &__container {
        overflow: hidden;
    }

    &__image-container {
        height: 0;
        padding-bottom: 56.25%;
        /* 16:9 */
        position: relative;
        width: 100%;

        .picture {


            img {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }

    &__dots {

        position: absolute;
        left: 50%;
        bottom: 2rem;
        transform: translateX(-50%);

        display: flex;

        .dot {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            margin: 0 1rem;


            border: 2px solid #fff;

            &.active {
                background-color: #ff6347;
            }
        }
    }

    @media screen and (min-width: $desktop) {

        &:hover {
            .btn {

                &--prevPicture,
                &--nextPicture {
                    opacity: 1;
                }
            }
        }
    }
}