//Media
$desktop: 1024px;
$mobile: 560px;

//Colors
$color-dot: #ff6347;
$color-button: #fff;
$color-button-bg: rgba(0, 0, 0, .1);
$color-button-bg-hover: rgba(0, 0, 0, .5);

$dot-border:2px solid #fff;